doctype html

html(lang="en")
 head
   title=  pagetitle
   link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
 body
    .header#content.jumbotron.text-center 
      h1= pagetitle
    .section
      .centerbox(style={width:'80%', padding:'10px', border:'3px solid green', margin:'auto'})
        p Info about the user
        p User agent : #{useragent}
        p IP Address : #{clientIPaddr}
        p Proxy : #{proxy}
    .footer
script.
  function setRandomColor() {
      document.getElementsByClassName("centerbox")[0].style.backgroundColor = '#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6);
  }